%h1
  Webové rozhraní IDS systému Snort
%p
  Snort je síťový Intrusion Detection System (IDS) založený na pravidlech. Na základě odposlechu síťové komunikace hledá známé vzorky útoků a v případě nalezení je schopen provádět další akce. Kromě generování protokolu události je schopen zaznamenávat paketová data na disk, kde mohou sloužit k další analýze. Cílem diplomové práce je vytvořit nástavbu aplikace Snort umožňující přehlednou analýzu logů skrz webové rozhraní. Inspirací mohou být projekty BASE, OSSIM nebo SnortALog. Vyvinuté rozhraní by mělo být schopné provozu i na méně výkonných routerech typu Alix.
  %br
  1. Seznamte se s IDS systémy, jejich funkcemi a konfigurací.
  %br
  2. Proveďte rešerši grafických a webových nástaveb IDS systému Snort.
  %br
  3. Navrhněte a implementujte vlastní rozhraní umožňující přehlednou vizualizaci zachycených útoků s možností stáhnout zachycené paketové data.
  %br
  4. Vytvořte vhodnou statistiku popisující charakter a typ útoků.
  %br
  5. Otestujte navržené řešení a výstupy porovnejte s alespoň dvěma jinými systémy umožňujícími vizualizaci protokolů systému Snort.
  %br
  6. Shrňte dosažené výsledky a popište možnosti dalšího vývoje.
  %br

.row
  .col-xs-12
    .table-responsive
      %h2
        Events

      %h2
        = "Total events count: #{@events.count}"
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              timestamp
            %th
              sid
            %th
              cid
            %th
              signature
            %th
              sig_class
            %th
              sig_priority
            %th
              sig_rev
            %th
              sig_sid
            %th
              sig_gid
        %tbody
          - if @events.present?
            - @events.each do |event|
              %tr
                %td
                  = event.timestamp
                %td
                  = event.sid
                %td
                  = event.cid
                %td
                  = event.signature.sig_name
                %td
                  = event.signature.sig_class_name
                %td
                  = event.signature.sig_priority
                %td
                  = event.signature.sig_rev
                %td
                  = event.signature.sig_sid
                %td
                  = event.signature.sig_gid

    .table-responsive
      %h2
        Sensors
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              sid
            %th
              hostname
            %th
              interface
            %th
              filter
            %th
              detail
            %th
              encoding
            %th
              last_cid

        %tbody
          - if @sensors.present?
            - @sensors.each do |sensor|
              %tr
                %td
                  = sensor.sid
                %td
                  = sensor.hostname
                %td
                  = sensor.interface
                %td
                  = sensor.filter
                %td
                  = sensor.detail
                %td
                  = sensor.encoding
                %td
                  = sensor.last_cid


    .table-responsive
      %h2
        Details
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              detail_type
            %th
              detail_text

        %tbody
          - if @detail.present?
            - @detail.each do |detail|
              %tr
                %td
                  = detail.detail_type
                %td
                  = detail.detail_text


    .table-responsive
      %h2
        Icmphdrs
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              sid
            %th
              cid
            %th
              icmp_type
            %th
              icmp_code
            %th
              icmp_csum
            %th
              icmp_id
            %th
              icmp_seq
        %tbody
          - if @icmphdrs.present?
            - @icmphdrs.each do |icmphdr|
              %tr
                %td
                  = icmphdr.sid
                %td
                  = icmphdr.cid
                %td
                  = icmphdr.icmp_type
                %td
                  = icmphdr.icmp_code
                %td
                  = icmphdr.icmp_csum
                %td
                  = icmphdr.icmp_id
                %td
                  = icmphdr.icmp_seq


