%h1
  Webové rozhraní IDS systému Snort
%p
  Snort je síťový Intrusion Detection System (IDS) založený na pravidlech. Na základě odposlechu síťové komunikace hledá známé vzorky útoků a v případě nalezení je schopen provádět další akce. Kromě generování protokolu události je schopen zaznamenávat paketová data na disk, kde mohou sloužit k další analýze. Cílem diplomové práce je vytvořit nástavbu aplikace Snort umožňující přehlednou analýzu logů skrz webové rozhraní. Inspirací mohou být projekty BASE, OSSIM nebo SnortALog. Vyvinuté rozhraní by mělo být schopné provozu i na méně výkonných routerech typu Alix.
  %br
  1. Seznamte se s IDS systémy, jejich funkcemi a konfigurací.
  %br
  2. Proveďte rešerši grafických a webových nástaveb IDS systému Snort.
  %br
  3. Navrhněte a implementujte vlastní rozhraní umožňující přehlednou vizualizaci zachycených útoků s možností stáhnout zachycené paketové data.
  %br
  4. Vytvořte vhodnou statistiku popisující charakter a typ útoků.
  %br
  5. Otestujte navržené řešení a výstupy porovnejte s alespoň dvěma jinými systémy umožňujícími vizualizaci protokolů systému Snort.
  %br
  6. Shrňte dosažené výsledky a popište možnosti dalšího vývoje.
  %br

.row
  .col-xs-12

    .table-responsive
      %h2
        Sensors
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              Sensor ID
            %th
              Hostname
            %th
              Interface
            %th
              Total Events
            %th
              Filter
            %th
              Detail
            %th
              Encoding
            %th
              last_cid

        %tbody
          - if @sensors.present?
            - @sensors.each do |sensor|
              %tr
                %td
                  = sensor.sid
                %td
                  = sensor.hostname
                %td
                  = sensor.interface
                %td
                  = link_to AcidEvent.where(:sid => sensor.sid).count, acid_events_path
                %td
                  = sensor.filter
                %td
                  = sensor.sensor_detail
                %td
                  = sensor.sensor_encoding
                %td
                  = format_datetime sensor.last_log_time, :format => :humanized

    .table-responsive
      %h2
        Acid events

      %h2
        = "Last 10 logs"
        %br
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              Time
            %th
              Sensor Hostname
            //%th
            //  cid
            //%th
            //  signature
            %th
              Signature Name
            %th
              Signature Class Name
            %th
              Signature Priority
            %th
              Source IP
            %th
              Destination IP
            //%th
            //  Proto IP
            //%th
            //  layer4_sport
            //%th
            //  layer4_dport
        %tbody
          - if @acid_events.present?
            - @acid_events.each do |acid_event|
              %tr
                %td
                  = format_datetime acid_event.timestamp, :format => :humanized
                %td
                  = acid_event.sensor_hostname
                //%td
                //  = acid_event.cid
                //%td
                //  = acid_event.signature
                %td
                  = link_to acid_event.sig_name, acid_event_path(acid_event.cid)
                %td
                  = acid_event.sig_class_name
                %td
                  = acid_event.sig_priority
                %td
                  = acid_event.ipv4_source
                %td
                  = acid_event.ipv4_destination
                //%td
                //  = acid_event.ip_proto
                //%td
                //  = acid_event.layer4_sport
                //%td
                //  = acid_event.layer4_dport


